body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #5C67F2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4a54e1;
}
